$white1: #f4ecff;
$white2: #eeecff;
$white21: #cac9d9;
$white22: #a6a5b2;
$white3: #ecf1ff;
$white31: #b1b5bf;
$white4: #ecfdff;
$white41: #ceddde;
$white5: #ecf7ff;
$black4: #2f3333;
$dark1: #444655;
$dark2: #55586b;
$dark3: #999aa6;
$pri: #3700b3;
